<form name="MyForm" class="register" method="post" ng-submit="add()">
        
    <fieldset class="row">

        <legend>Book a Cab</legend>
        <div class="formWrap">  
        <p>
            <label>Name *</label>
            <input type="text" name="" value="" placeholder="" ng-model="nameOfPassenger" required="">
            <label>Date of Journey *</label>
            
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker2').datetimepicker({
                                locale: 'ru'
                            });
                        });
                    </script>
                </div>
            </div>


        </p>
        <p>
            <label>Boarding Point *</label>
            <input type="text" name="" value="" placeholder="" ng-model="boardingPoint" required="">
            <label>Destination *</label>
            <input type="text" name="" value="" placeholder="" ng-model="destination" required="">
        </p>
        <p style="margin-top: 30px;margin-bottom: 30px;">
              <label class="copassengers">If any co-passengers</label>
              <input type="checkbox" value="" required="">
        </p>
        <p>
            <label>Name *</label>
            <input type="text" name="" value="" placeholder="" ng-model="coPassengerName">
            <label>Destination *</label>
            <input type="text" name="" value="" placeholder="" ng-model="coPssengerDestination">
        </p>
        <div class="addPassenger"><span><a ng-click="add-more">Add more Passengers</a></span></div>
        </div>
        <div class="btn-wrap"><input type="submit" name="Submit" value="Submit" ng-click="submitForm"></div>
    </fieldset>
     
    
</form>