
<form name="MyForm" class="register" method="post"  ng-controller="BookCabController">
        
    <fieldset class="row">

        <legend>Cab History</legend>
        <div class="formWrap">  
        <p>
            <label>Name :</label>
            <span class="passengerName">{{tripDetails.nameOfPassenger}}</span>
        </p>
        <p>
            <label>Date of Journey :</label>
           	<span class="journeyDate">{{tripDetails.dateAndTime}}</span>


        </p>
        <p>
            <label>Boarding Point :</label>
           	<span class="boardingPoint">{{tripDetails.boardingPoint}}</span>
        </p>
        <p>
            <label>Destination :</label>
            <span class="destination">{{tripDetails.boardingPoint}}</span>
        </p>
        <p>
            <label>Co-passenger Name :</label>
            <span class="destination">{{tripDetails.coPassengerName}}</span>
        </p>
        <p>
            <label>Co-passenger Desination :</label>
            <span class="destination">{{tripDetails.coPssengerDestination}}</span>
        </p>
 
    </fieldset>
     
    
</form>