
body {
    margin: 0;
    padding: 0;
}
#header-wrap {
    background: rgba(0, 0, 0, 0) url("../images/QBlogo.svg") no-repeat scroll 30px center / 7% auto;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 30px;
    padding: 15px 30px;
    text-align: center;
}
#footer-wrap {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 15px;
    bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
}
.navbar-collapse.collapse {
    padding-left: 0;
}
.navbar-nav>li {
    border-right: 1px solid #e7e7e7;
}

.logout-menu{
    border: 0;
}
#normal {
    width: 10%;
}
.form-group {
    margin-bottom: 25px;
    display: flex;
}
.form-group label{
	margin-right: 8px;
	margin-top: 5px;
}
#loginForm {
    width: 30%;
    margin: 0 auto;
}
.container {
    margin-top: 50px;
}
#loginForm h2 {
    font-size: 20px;
    margin-bottom: 45px;
}

#login-error {
    color: #ff0000;
    padding-top: 10px;    
    width: 100%;
}

.btn-primary {
    width: 120px;
 }
.register {
    height: 1000px;
    width: 85%;
    margin: 0 auto;
    padding: 19px;
    border-radius: 20px;
}
.register fieldset.row {
    width: 100%;
    float: left;
    border: 1px solid black;
}
.register legend {
    padding: 10px;
    margin-left: 80px;
    font-size: 25px;
    font-weight: 100;
    width: 155px;
    font-family: sans-serif;
    border: none;
}
fieldset.row p {
    padding: 21px 0 22px 0;
    font-weight: 500;
    font-size: 10pt;
}
.register label {
    width: 23%;
    float: left;
    text-align: right;
    margin-right: 16px;
    margin-top: 2px;
}

.register input {
    width: 175px;
    color: #000;
    float: left;
    margin-right: 28px;
}
input[type=checkbox] {
    width: 14px !important;
}
.copassengers {
    width: 31% !important;
}
.addPassenger {
    float: right;
    margin-right: 165px;
    margin-top: 25px;
}
.addPassenger a{
    cursor: pointer;
}
.formWrap {
    width: 100%;
    float: left;
}
input[type="submit"] {
    float: none !important;
    margin-right: 0 !important;
    background: #265DAC;
    border: none;
    height: 30px;
    color: white !important;
    border-radius: 5px;
    margin-top: 45px;
    outline: none;
}
.btn-wrap {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 35px;
}
span#datetimepicker1 {
    width: 200px;
}
.form-control {
    height: 25px;
    padding: 6px 12px;
    border-radius: 0 !important;
}
.input-group-addon {
    padding: 3px 12px;
}
p.morePassengers {
    margin-left: 60px;
}
p.morePassengers span {
    font-size: 15px;
}
p.morePassengers img {
    width: 36px;
}
.removeBtn{
    background: red;
    border: none;
    border-radius: 4px;
    color: white;
    width: 69px;
    height: 24px;
}